In [9]:
import pandas as pd
import numpy as np

## read data

In [10]:
df = pd.read_csv('table.csv')

In [11]:
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

## create the dataframe called df

### Step 1 rename the column "Postcode" to "PostalCode"

In [12]:
df.rename(columns = {"Postcode":"PostalCode"}, inplace = True)

In [13]:
df

    PostalCode           Borough          Neighbourhood
0          M1A      Not assigned           Not assigned
1          M2A      Not assigned           Not assigned
2          M3A        North York              Parkwoods
3          M4A        North York       Victoria Village
4          M5A  Downtown Toronto           Harbourfront
..         ...               ...                    ...
282        M8Z         Etobicoke              Mimico NW
283        M8Z         Etobicoke     The Queensway West
284        M8Z         Etobicoke  Royal York South West
285        M8Z         Etobicoke         South of Bloor
286        M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

### Step 2 Remove the "Not assigned" cells from "Borough" column

In [14]:
df.replace({"Borough":"Not assigned"}, np.nan, inplace = True)
df = df.dropna()
df

    PostalCode           Borough             Neighbourhood
2          M3A        North York                 Parkwoods
3          M4A        North York          Victoria Village
4          M5A  Downtown Toronto              Harbourfront
5          M6A        North York          Lawrence Heights
6          M6A        North York            Lawrence Manor
..         ...               ...                       ...
281        M8Z         Etobicoke  Kingsway Park South West
282        M8Z         Etobicoke                 Mimico NW
283        M8Z         Etobicoke        The Queensway West
284        M8Z         Etobicoke     Royal York South West
285        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

### Step 3 Replace the "Not assigned" in "Neighbourhood" column

In [15]:
df.Neighbourhood[df["Neighbourhood"] == "Not assigned"] = df["Borough"]
df.head(10)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

   PostalCode           Borough     Neighbourhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor
7         M7A  Downtown Toronto      Queen's Park
9         M9A      Queen's Park      Queen's Park
10        M1B       Scarborough             Rouge
11        M1B       Scarborough           Malvern
13        M3B        North York   Don Mills North

In [18]:
df['Neighbourhood'] = df[['PostalCode', 'Borough', 'Neighbourhood']].groupby(['PostalCode', 'Borough'])['Neighbourhood'].transform(lambda x: ','.join(x))
df = df[['PostalCode', 'Borough', 'Neighbourhood']].drop_duplicates()
df

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,PostalCode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Harbourfront
5,M6A,North York,"Lawrence Heights,Lawrence Manor,Lawrence Heigh..."
7,M7A,Downtown Toronto,Queen's Park
...,...,...,...
254,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North,Th..."
261,M4Y,Downtown Toronto,Church and Wellesley
264,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
265,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout..."
281,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."

### The final dataframe

In [26]:
df = df[['PostalCode', 'Borough', 'Neighbourhood']]
df

,PostalCode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Harbourfront
3,M6A,North York,"Lawrence Heights,Lawrence Manor,Lawrence Heigh..."
4,M7A,Downtown Toronto,Queen's Park
...,...,...,...
98,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North,Th..."
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout..."
102,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."

In [25]:
df.shape

(103, 3)